body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

canvas {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.current-points {
  color: white;
  position: absolute;
  z-index: 1;
  font-size: 2rem;
  font-weight: 100;
  left: 5%;
}

.level {
  color: white;
  position: absolute;
  z-index: 1;
  font-size: 2rem;
  font-weight: 100;
  left: 50%;
}

.highest-points {
  color: white;
  position: absolute;
  z-index: 1;
  font-size: 2rem;
  font-weight: 100;
  left: 81%;
}

.game-over {
  color: white;
  position: absolute;
  z-index: 1;
  font-size: 2rem;
  font-weight: 100;
  left: 39%;
  top: 40%;
  text-align: center;
}

button {
  background-color: transparent;
  color: white;
  border-style: none;
  font-size: 2rem;
  cursor: pointer;
}

.info {
  color: #fff;
  position: absolute;
  z-index: 1;
  font-size: 0.9rem;
  font-weight: 100;
  left: 5%;
  top: 5%;
}